.imagen{
    max-width:100%;
}

a{
    cursor:pointer;
}

body{
    background-color: whitesmoke;
    overflow-x: hidden;
}
.modal-contenedor{
    display:flex;
    align-items: center;
    gap:2rem;
}
.img-carrito{
    width:200px;
    padding:20px;
} 
.modal-content{
    background-color: whitesmoke;
}
.parrafo{
    font-weight: 500;
}
#precioTotal{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
}
.boton{
    opacity:0;
}